@media (max-width: 767px) {
:root {
        --primary-color: #d32f2f;
        --secondary-color: #4CAF50;
        --font-family: 'Roboto', sans-serif;
        --base-font-size: 14px;
    }

    body {
        font-size: 14px;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    .container {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        padding: 15px;
        text-align: center;
        background-color: #d32f2f;
        width: 100%;
    }

    header h1 {
        font-size: 1.5em;
        color: white;
        margin: 0;
    }

    .main-content {
        width: 100%;
        color: white;
        text-align: center;
    }

    .main-content picture img {
        width: 100%;
        height: auto;
    }

    .content-wrapper {
        width: 50%;
        padding: 20px;
        margin-top: 320px;
        align-items: center;
    }

    .data,
    .weather {
        padding: 10px;
        margin: 5px 0;
        width: 100%;
        background: none;
        color: black;
        text-align: center;
    }

    .data h2,
    .weather h2 {
        margin-bottom: 2px;
        background: none;
        width: 50%;
    }

    .weather h2::before {
        content: url('images/weather.svg');
        display: inline-block;
        margin-right: 8px;
    }

    .data h2::after,
    .weather h2::after {
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        background-color: var(--secondary-color);
        margin: 8px auto 0 auto;
    }

    .weather-icon {
        width: 50px;
        height: auto;
        margin: 0 auto 1em auto;
        display: block;
    }

    .data ul,
    .weather ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    footer {
        padding: 10px;
        font-size: 12px;
        text-align: center;
        width: 100%;
        background-color: #d32f2f;
        color: white;
    }
}